body {
  margin: 0 auto;
  text-align: center;
  background: skyblue;
}

#counter {
  width: 50%;
  margin: 0 auto;
  font-size: 100px;
}

.value {
  width: 25%;
  margin: auto;
}

button {
  font-size: 150px;
  margin: 50px;
}

#counter {
  background: maroon;
  width: 33%;
}
